{% extends 'base.html' %}

{% include 'navbar.html' %}

{% block title %}Everybody's Got an Eatin' Place{% endblock %}

{% block content %} 
<div class="container-fluid row mx-0">

    <div class="card text-center mb-3 col" style="height: 100%;">
        <img src="{{ restaurant.image_url }}" class="card-img-top" style="height: 25vw;" alt="There ought to be something here...">
        <div class="card-body">
            <h4 class="card-title" style="text-shadow: #cc9a07 0 1px 1px;">{{ restaurant.name }}</h4>
            <p class="card-text" style="font-style: italic;">{{ restaurant.land }}</p>
            <label class="text-warning" style="text-shadow: #172c65 0 1px 1px;">
                {{ star_avg(restaurant.rest_id, total_ratings(restaurant.rest_id)) }} {{ generate_stars(star_avg(restaurant.rest_id, total_ratings(restaurant.rest_id))) }} 
                <span style="font-style:italic; font-size: smaller;">({{ total_ratings(restaurant.rest_id) }} reviews)</span>
            </label>
            <h5 class="text-success pt-1" style="text-shadow: #a3cfbc 0 1px 2px;"">{{ restaurant.expense }}</h5>
            <p class="card-text">{{ restaurant.description }}</p>
            <p style="font-size:smaller;">
                {% if restaurant.full_service %}
                Full-Service<br>
                {% endif %}
                {% if restaurant.breakfast %}
                Breakfast<br>
                {% endif %}
                {% if restaurant.american %}
                American<br>
                {% endif %}
                {% if restaurant.southern %}
                Southern<br>
                {% endif %}
                {% if restaurant.mexican %}
                Mexican<br>
                {% endif %}
                {% if restaurant.italian %}
                Italian<br>
                {% endif %}
                {% if restaurant.dessert %}
                Dessert<br>
                {% endif %}
                {% if restaurant.snacks %}
                Snacks<br>
                {% endif %}
                {% if restaurant.coffee %}
                Coffee<br>
                {% endif %}
                {% if restaurant.beverage_only %}
                Beverages Only<br>
                {% endif %}
              </p>
            <button class="btn btn-primary btn-sm py-1 mb-2 shadow" type="button" data-bs-toggle="collapse" data-bs-target="#collapseReviews" aria-expanded="false" aria-controls="collapseReviews">
                See Reviews <i class="fa-solid fa-arrow-right"></i>
            </button>
            {% if current_user.is_authenticated %}
            {% if rated %}
            <div class="py-3">
                <h5>You have already reviewed this place, thanks!</h5>
            </div>
            {% else %}
            <div class="container justify-content-md-center" style="padding-top: 5%;">
                <form class="" method="post" action="{{ url_for('eating_place', rest_id=restaurant.rest_id) }}">
                    <h2 class="heading">Leave a Review</h2>
                        {{ form.csrf_token }}
                    <div class="form-group m-2">
                        {{ form.star_rating.label }}
                        {{ form.star_rating(class="form-select") }}
                    </div>
                    <div class="form-floating m-2">
                        {{ form.review(class="form-control", placeholder="comments", id="floatingTextarea2", style="height:200px;") }}
                        {{ form.review.label }}
                    </div>
                    <div class="form-group m-2">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
            {% endif %}
            {% endif %}
            <div class="pt-2">
                <!-- <a class="btn btn-primary btn-sm" href="{{ url_for('restaurants') }}">Rate more restaurants</a><br> -->
            {% if restaurant.rest_id > 1 %}
                <a class="btn btn-outline-primary btn-sm shadow" href="{{ url_for('eating_place', rest_id=restaurant.rest_id-1) }}">Did you check out<br>{{ get_restaurant_by_id(restaurant.rest_id-1).name }}?</a>
            {% elif restaurant.rest_id == 1 %}
                <a class="btn btn-outline-primary btn-sm shadow" href="{{ url_for('eating_place', rest_id=rest_len) }}">Did you check out<br>{{ get_restaurant_by_id(rest_len).name }}?</a>

            {% endif %} 
            {% if restaurant.rest_id < rest_len %}
                <a class="btn btn-outline-primary btn-sm shadow" href="{{ url_for('eating_place', rest_id=restaurant.rest_id+1) }}">Want to check out<br>{{ get_restaurant_by_id(restaurant.rest_id+1).name }}?</a>
            </div> 
            {% elif restaurant.rest_id == rest_len %}
                <a class="btn btn-outline-primary btn-sm shadow" href="{{ url_for('eating_place', rest_id=1) }}">Want to check out<br>{{ get_restaurant_by_id(1).name }}?</a>
        </div> 

            {% endif %}
    </div>
</div>
    <div class="collapse col-lg-5" id="collapseReviews">
        <div class="card card-body" style="overflow:auto; height:90%; width:90%;">
            <h2 style="font-family:Noto; font-style:italic;">Reviews</h2>
            {% for each in restaurant_reviews(restaurant.rest_id) %}
            <ul>
                <dl class="row" style="font-style:italic; font-weight: bold;">{{ (get_user_by_id(each.user_id).username).title() }}:</dl>
                <dt class="text-warning fw-normal col" style="text-shadow: #172c65 0 1px 1px;"><i class="fa-solid fa-star"></i> {{ get_star_rating(user_id=each.user_id, rest_id=restaurant.rest_id) }}</dt>
                {% if each.review == '' %}
                <dd class="col text-muted" style="font-style: italic;">No written review</dd>
                {% else %} 
                <dd class="col">"{{ each.review }}"</dd>
                {% endif %}
                {% if current_user.is_authenticated %}
                {% if get_user_by_id(each.user_id).username == current_user.username %}
                <a class="btn btn-sm btn-outline-warning shadow" href="{{ url_for('my_contributions') }}">Edit review</a>
                {% endif %}
                {% endif %}
            </ul>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}

