<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7d651a69b99204861623c51032014ff7 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_7d651a69b99204861623c51032014ff7" ></div>
        
</body>
<script>    
    
            var map_7d651a69b99204861623c51032014ff7 = L.map(
                "map_7d651a69b99204861623c51032014ff7",
                {
                    center: [33.812034, -117.918968],
                    crs: L.CRS.EPSG3857,
                    zoom: 16,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e9c10c6b572944742931816179762e5c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 15, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var marker_5de961904ca588ef957751377b4c6a78 = L.marker(
                [33.811067, -117.919103],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_31e06f5ce442630750241feb3d7122f4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5de961904ca588ef957751377b4c6a78.setIcon(icon_31e06f5ce442630750241feb3d7122f4);
        
    
        var popup_bfd43c93d999900a7d1bef6265cdcfaa = L.popup({"maxWidth": 200});

        
            var html_fff00888ec8713cb0bc2f094a4b78729 = $(`<div id="html_fff00888ec8713cb0bc2f094a4b78729" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://mickeyblog.com/wp-content/uploads/2018/10/Carnation_Cafe_2012.png"><br>                 <h4>Carnation Cafe</h4>                 <p>$$</p>                 <p>Main Street</p>                 </div>                 </div>`)[0];
            popup_bfd43c93d999900a7d1bef6265cdcfaa.setContent(html_fff00888ec8713cb0bc2f094a4b78729);
        

        marker_5de961904ca588ef957751377b4c6a78.bindPopup(popup_bfd43c93d999900a7d1bef6265cdcfaa)
        ;

        
    
    
            marker_5de961904ca588ef957751377b4c6a78.bindTooltip(
                `<div>
                     Carnation Cafe
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7f190aceeaa3df0218b544a0a7b1b49b = L.marker(
                [33.811165, -117.919086],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_40ced3c4ca15b22b28a874dd59d98e8a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7f190aceeaa3df0218b544a0a7b1b49b.setIcon(icon_40ced3c4ca15b22b28a874dd59d98e8a);
        
    
        var popup_af242b2104ba2db0b8ecfe2c63b3819f = L.popup({"maxWidth": 200});

        
            var html_0107641ba159a93df0626316d5caf225 = $(`<div id="html_0107641ba159a93df0626316d5caf225" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://farm9.static.flickr.com/8421/7763878548_b4dca6cb9b_b.jpg"><br>                 <h4>Gibson Girl Ice Cream Parlor</h4>                 <p>$</p>                 <p>Main Street</p>                 </div>                 </div>`)[0];
            popup_af242b2104ba2db0b8ecfe2c63b3819f.setContent(html_0107641ba159a93df0626316d5caf225);
        

        marker_7f190aceeaa3df0218b544a0a7b1b49b.bindPopup(popup_af242b2104ba2db0b8ecfe2c63b3819f)
        ;

        
    
    
            marker_7f190aceeaa3df0218b544a0a7b1b49b.bindTooltip(
                `<div>
                     Gibson Girl Ice Cream Parlor
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ce26a8e89ac96e679667aa66b1a66d3a = L.marker(
                [33.810929374836455, -117.91888406625188],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_c9cd3723f6e2bc8cb39bbf97e44027a4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ce26a8e89ac96e679667aa66b1a66d3a.setIcon(icon_c9cd3723f6e2bc8cb39bbf97e44027a4);
        
    
        var popup_93e474f3ad142c954b771bacd45a7025 = L.popup({"maxWidth": 200});

        
            var html_21d8665810ed696d21e21e6dfac7b923 = $(`<div id="html_21d8665810ed696d21e21e6dfac7b923" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://allears.net/wp-content/uploads/archive/dining/images/dining_location_image_2025.jpg"><br>                 <h4>Market House</h4>                 <p>$</p>                 <p>Main Street</p>                 </div>                 </div>`)[0];
            popup_93e474f3ad142c954b771bacd45a7025.setContent(html_21d8665810ed696d21e21e6dfac7b923);
        

        marker_ce26a8e89ac96e679667aa66b1a66d3a.bindPopup(popup_93e474f3ad142c954b771bacd45a7025)
        ;

        
    
    
            marker_ce26a8e89ac96e679667aa66b1a66d3a.bindTooltip(
                `<div>
                     Market House
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_61b95e1a9daa15d5b4ba8863c5d0ad06 = L.marker(
                [33.81144, -117.919081],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_0d0486b3f4028e4367e32b2742a47a42 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_61b95e1a9daa15d5b4ba8863c5d0ad06.setIcon(icon_0d0486b3f4028e4367e32b2742a47a42);
        
    
        var popup_f3f63abb0be0edc34a37cc116d59f154 = L.popup({"maxWidth": 200});

        
            var html_ba0e4a3113a382a1197ae7e4794d8db6 = $(`<div id="html_ba0e4a3113a382a1197ae7e4794d8db6" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://live.staticflickr.com/3211/2749054138_ca8843f347_c.jpg"><br>                 <h4>Refreshment Corner</h4>                 <p>$$</p>                 <p>Main Street</p>                 </div>                 </div>`)[0];
            popup_f3f63abb0be0edc34a37cc116d59f154.setContent(html_ba0e4a3113a382a1197ae7e4794d8db6);
        

        marker_61b95e1a9daa15d5b4ba8863c5d0ad06.bindPopup(popup_f3f63abb0be0edc34a37cc116d59f154)
        ;

        
    
    
            marker_61b95e1a9daa15d5b4ba8863c5d0ad06.bindTooltip(
                `<div>
                     Refreshment Corner
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2e6174e11969dbdcd8a566b0377d5d89 = L.marker(
                [33.81168285912394, -117.9193818473908],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_3f97c9d3c303e384cd6c5ed24434479c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2e6174e11969dbdcd8a566b0377d5d89.setIcon(icon_3f97c9d3c303e384cd6c5ed24434479c);
        
    
        var popup_44d1e3fedef7dfd2ddbba5758badf5c0 = L.popup({"maxWidth": 200});

        
            var html_64b59ce2caebaadc6f786308cb8e0d52 = $(`<div id="html_64b59ce2caebaadc6f786308cb8e0d52" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://images.fineartamerica.com/images-medium-large-5/jolly-holiday-cafe-main-street-disneyland-01-thomas-woolworth.jpg"><br>                 <h4>Jolly Holliday Bakery Cafe</h4>                 <p>$$</p>                 <p>Main Street</p>                 </div>                 </div>`)[0];
            popup_44d1e3fedef7dfd2ddbba5758badf5c0.setContent(html_64b59ce2caebaadc6f786308cb8e0d52);
        

        marker_2e6174e11969dbdcd8a566b0377d5d89.bindPopup(popup_44d1e3fedef7dfd2ddbba5758badf5c0)
        ;

        
    
    
            marker_2e6174e11969dbdcd8a566b0377d5d89.bindTooltip(
                `<div>
                     Jolly Holliday Bakery Cafe
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_91d798a1468a4a11c244286688c30372 = L.marker(
                [33.8116963939521, -117.91851581766903],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_a6ef69968efd737480fcae417b77c158 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_91d798a1468a4a11c244286688c30372.setIcon(icon_a6ef69968efd737480fcae417b77c158);
        
    
        var popup_b062d2d4a025566b6295d677a11bbdb0 = L.popup({"maxWidth": 200});

        
            var html_232b76e2819d5efdae0c66dc784f27d5 = $(`<div id="html_232b76e2819d5efdae0c66dc784f27d5" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://www.themeparkinsider.com/art/2021/dl-plaza-inn1.jpg"><br>                 <h4>Plaza Inn</h4>                 <p>$$$</p>                 <p>Main Street</p>                 </div>                 </div>`)[0];
            popup_b062d2d4a025566b6295d677a11bbdb0.setContent(html_232b76e2819d5efdae0c66dc784f27d5);
        

        marker_91d798a1468a4a11c244286688c30372.bindPopup(popup_b062d2d4a025566b6295d677a11bbdb0)
        ;

        
    
    
            marker_91d798a1468a4a11c244286688c30372.bindTooltip(
                `<div>
                     Plaza Inn
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5e2645131f3f32c7bdd81edb42b7ba03 = L.marker(
                [33.811728031793685, -117.91691154585381],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_08db163ddb290dcedf79a77fd484ee6f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5e2645131f3f32c7bdd81edb42b7ba03.setIcon(icon_08db163ddb290dcedf79a77fd484ee6f);
        
    
        var popup_98ea7c003bb3a3405ec6213a7eb85130 = L.popup({"maxWidth": 200});

        
            var html_87bbba4c070f4f3911516aec2a3cf6dd = $(`<div id="html_87bbba4c070f4f3911516aec2a3cf6dd" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://www.disneyfoodblog.com/wp-content/uploads/2019/11/disneyland-2019-holidays-alien-pizza-planet_.jpg"><br>                 <h4>Alien Pizza Planet</h4>                 <p>$$</p>                 <p>Tomorrowland</p>                 </div>                 </div>`)[0];
            popup_98ea7c003bb3a3405ec6213a7eb85130.setContent(html_87bbba4c070f4f3911516aec2a3cf6dd);
        

        marker_5e2645131f3f32c7bdd81edb42b7ba03.bindPopup(popup_98ea7c003bb3a3405ec6213a7eb85130)
        ;

        
    
    
            marker_5e2645131f3f32c7bdd81edb42b7ba03.bindTooltip(
                `<div>
                     Alien Pizza Planet
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_57e12bb7b98f9dfcc7040115da7d0151 = L.marker(
                [33.8123815226415, -117.91715260949891],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_3032bc47a6039d7adee4f7eeafd51a8f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_57e12bb7b98f9dfcc7040115da7d0151.setIcon(icon_3032bc47a6039d7adee4f7eeafd51a8f);
        
    
        var popup_317ecc89e65f67b14f6b42bd39518ff4 = L.popup({"maxWidth": 200});

        
            var html_2b5a9babbe9984d07cd9eee0a6dd0cfc = $(`<div id="html_2b5a9babbe9984d07cd9eee0a6dd0cfc" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://i.pinimg.com/originals/0f/91/95/0f9195d1a35d9221b1777e0c04e83d11.jpg"><br>                 <h4>Galactic Grill</h4>                 <p>$$</p>                 <p>Tomorrowland</p>                 </div>                 </div>`)[0];
            popup_317ecc89e65f67b14f6b42bd39518ff4.setContent(html_2b5a9babbe9984d07cd9eee0a6dd0cfc);
        

        marker_57e12bb7b98f9dfcc7040115da7d0151.bindPopup(popup_317ecc89e65f67b14f6b42bd39518ff4)
        ;

        
    
    
            marker_57e12bb7b98f9dfcc7040115da7d0151.bindTooltip(
                `<div>
                     Galactic Grill
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_251f92d749322c147b57a98d18ade347 = L.marker(
                [33.81374305708073, -117.91773874128609],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_42df1b3771f43a18c492479f0953d941 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_251f92d749322c147b57a98d18ade347.setIcon(icon_42df1b3771f43a18c492479f0953d941);
        
    
        var popup_40557c18e8f1e0a2d435ba94f11c0c35 = L.popup({"maxWidth": 200});

        
            var html_5fc8ebd960d18b3ecbdd0c597c2f7ef3 = $(`<div id="html_5fc8ebd960d18b3ecbdd0c597c2f7ef3" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://farm4.static.flickr.com/3831/12142461163_5034552b43_b.jpg"><br>                 <h4>Edelweiss Snacks</h4>                 <p>$</p>                 <p>Fantasyland</p>                 </div>                 </div>`)[0];
            popup_40557c18e8f1e0a2d435ba94f11c0c35.setContent(html_5fc8ebd960d18b3ecbdd0c597c2f7ef3);
        

        marker_251f92d749322c147b57a98d18ade347.bindPopup(popup_40557c18e8f1e0a2d435ba94f11c0c35)
        ;

        
    
    
            marker_251f92d749322c147b57a98d18ade347.bindTooltip(
                `<div>
                     Edelweiss Snacks
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1719e813789717300f81b231729f1c26 = L.marker(
                [33.8144856242707, -117.91875940912425],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_f95a12c741268a0a56b1abda481677f7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1719e813789717300f81b231729f1c26.setIcon(icon_f95a12c741268a0a56b1abda481677f7);
        
    
        var popup_f3f0d823c01ce2573ad2b4d11f9c43f9 = L.popup({"maxWidth": 200});

        
            var html_f78d2cbde8e081ccaa63ea8d0e067cae = $(`<div id="html_f78d2cbde8e081ccaa63ea8d0e067cae" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://www.disneyfoodblog.com/wp-content/uploads/2015/07/TroubadourTavern_15_013.jpg"><br>                 <h4>Troubador Tavern</h4>                 <p>$</p>                 <p>Fantasyland</p>                 </div>                 </div>`)[0];
            popup_f3f0d823c01ce2573ad2b4d11f9c43f9.setContent(html_f78d2cbde8e081ccaa63ea8d0e067cae);
        

        marker_1719e813789717300f81b231729f1c26.bindPopup(popup_f3f0d823c01ce2573ad2b4d11f9c43f9)
        ;

        
    
    
            marker_1719e813789717300f81b231729f1c26.bindTooltip(
                `<div>
                     Troubador Tavern
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_76afaa3f2b5cd1e10f4157a59ed0d236 = L.marker(
                [33.814462613156586, -117.92153869443413],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_a7efd26981a7d4e260c29a91357685e5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_76afaa3f2b5cd1e10f4157a59ed0d236.setIcon(icon_a7efd26981a7d4e260c29a91357685e5);
        
    
        var popup_7829d48faa5c0c4968219f70c37fd64e = L.popup({"maxWidth": 200});

        
            var html_a35db6d75ffe8f2f2fcea9ce9349ac5a = $(`<div id="html_a35db6d75ffe8f2f2fcea9ce9349ac5a" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://picky-palate.com/wp-content/uploads/2019/06/IMG_6589.jpg"><br>                 <h4>Ronto Roasters</h4>                 <p>$$</p>                 <p>Galaxy's Edge</p>                 </div>                 </div>`)[0];
            popup_7829d48faa5c0c4968219f70c37fd64e.setContent(html_a35db6d75ffe8f2f2fcea9ce9349ac5a);
        

        marker_76afaa3f2b5cd1e10f4157a59ed0d236.bindPopup(popup_7829d48faa5c0c4968219f70c37fd64e)
        ;

        
    
    
            marker_76afaa3f2b5cd1e10f4157a59ed0d236.bindTooltip(
                `<div>
                     Ronto Roasters
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a7b1f1a573e7b6f98c3d4a4979640521 = L.marker(
                [33.81551618186138, -117.91871838555176],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_520c2a123015258338623cde5b4f3288 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a7b1f1a573e7b6f98c3d4a4979640521.setIcon(icon_520c2a123015258338623cde5b4f3288);
        
    
        var popup_d25d2aefe53a98254e0f926eca0efc00 = L.popup({"maxWidth": 200});

        
            var html_182fe5e15cdf058d72a1dc2701444f21 = $(`<div id="html_182fe5e15cdf058d72a1dc2701444f21" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://allears.net/wp-content/uploads/2020/01/Daisys-Diner-Toontown-Storefront-Disneyland.jpg"><br>                 <h4>Daisy's Diner</h4>                 <p>$$</p>                 <p>Mickey's Toontown</p>                 </div>                 </div>`)[0];
            popup_d25d2aefe53a98254e0f926eca0efc00.setContent(html_182fe5e15cdf058d72a1dc2701444f21);
        

        marker_a7b1f1a573e7b6f98c3d4a4979640521.bindPopup(popup_d25d2aefe53a98254e0f926eca0efc00)
        ;

        
    
    
            marker_a7b1f1a573e7b6f98c3d4a4979640521.bindTooltip(
                `<div>
                     Daisy's Diner
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4f3a6f54333f9a1e2868309afd661441 = L.marker(
                [33.81554960890238, -117.91871033892531],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_4145edc6284e9387b980810bb1f81b72 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4f3a6f54333f9a1e2868309afd661441.setIcon(icon_4145edc6284e9387b980810bb1f81b72);
        
    
        var popup_fb7c1e92e9d4346a8b4b242344972a25 = L.popup({"maxWidth": 200});

        
            var html_7b7f57d294f72cc6c9bad51b30da4266 = $(`<div id="html_7b7f57d294f72cc6c9bad51b30da4266" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://www.disneyfoodblog.com/wp-content/uploads/2014/02/Plutos-Dog-House.jpg"><br>                 <h4>Pluto's Dog House</h4>                 <p>$</p>                 <p>Mickey's Toontown</p>                 </div>                 </div>`)[0];
            popup_fb7c1e92e9d4346a8b4b242344972a25.setContent(html_7b7f57d294f72cc6c9bad51b30da4266);
        

        marker_4f3a6f54333f9a1e2868309afd661441.bindPopup(popup_fb7c1e92e9d4346a8b4b242344972a25)
        ;

        
    
    
            marker_4f3a6f54333f9a1e2868309afd661441.bindTooltip(
                `<div>
                     Pluto's Dog House
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_977765ae8b608b787eae33e1a0ebecb1 = L.marker(
                [33.81557802187698, -117.91868821070254],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_826e35fa30983cfd967c80ab26806c32 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_977765ae8b608b787eae33e1a0ebecb1.setIcon(icon_826e35fa30983cfd967c80ab26806c32);
        
    
        var popup_97665fd6bf3dfe72fc1718659f24f2a9 = L.popup({"maxWidth": 200});

        
            var html_9b501a9640719d33f2f1341278dd0f06 = $(`<div id="html_9b501a9640719d33f2f1341278dd0f06" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://cdn1.parksmedia.wdprapps.disney.com/media/blog/wp-content/uploads/2016/07/DLICM499875.jpg"><br>                 <h4>Clarabelle's</h4>                 <p>$</p>                 <p>Mickey's Toontown</p>                 </div>                 </div>`)[0];
            popup_97665fd6bf3dfe72fc1718659f24f2a9.setContent(html_9b501a9640719d33f2f1341278dd0f06);
        

        marker_977765ae8b608b787eae33e1a0ebecb1.bindPopup(popup_97665fd6bf3dfe72fc1718659f24f2a9)
        ;

        
    
    
            marker_977765ae8b608b787eae33e1a0ebecb1.bindTooltip(
                `<div>
                     Clarabelle's
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ca73762555321cba6e225369b03cf5be = L.marker(
                [33.81346065509974, -117.9194651550013],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_af60f68dfc24cd3e4a97a6057ece086a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ca73762555321cba6e225369b03cf5be.setIcon(icon_af60f68dfc24cd3e4a97a6057ece086a);
        
    
        var popup_a799751b639088eaad30782cd7e0bf1b = L.popup({"maxWidth": 200});

        
            var html_a521d50af9a0517373a95253899a84fc = $(`<div id="html_a521d50af9a0517373a95253899a84fc" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://insidethemagic.net/wp-content/uploads/2017/02/village-haus-restaurant-00.jpg"><br>                 <h4>Red Rose Tavern</h4>                 <p>$$</p>                 <p>Fantasyland</p>                 </div>                 </div>`)[0];
            popup_a799751b639088eaad30782cd7e0bf1b.setContent(html_a521d50af9a0517373a95253899a84fc);
        

        marker_ca73762555321cba6e225369b03cf5be.bindPopup(popup_a799751b639088eaad30782cd7e0bf1b)
        ;

        
    
    
            marker_ca73762555321cba6e225369b03cf5be.bindTooltip(
                `<div>
                     Red Rose Tavern
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_511d04734a7e3c76213e48092d509e0c = L.marker(
                [33.814428886234296, -117.92069637808706],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_2bf3519c601509eefea868df36e76475 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_511d04734a7e3c76213e48092d509e0c.setIcon(icon_2bf3519c601509eefea868df36e76475);
        
    
        var popup_5d5f801c60ebca29c6b5f41cb7b6a0a1 = L.popup({"maxWidth": 200});

        
            var html_de6b724a8aab091a959285f784a1ca78 = $(`<div id="html_de6b724a8aab091a959285f784a1ca78" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://www.disneyfoodblog.com/wp-content/uploads/2019/05/milkstand-atmosphere-3.jpg"><br>                 <h4>Milk Stand</h4>                 <p>$$$</p>                 <p>Galaxy's Edge</p>                 </div>                 </div>`)[0];
            popup_5d5f801c60ebca29c6b5f41cb7b6a0a1.setContent(html_de6b724a8aab091a959285f784a1ca78);
        

        marker_511d04734a7e3c76213e48092d509e0c.bindPopup(popup_5d5f801c60ebca29c6b5f41cb7b6a0a1)
        ;

        
    
    
            marker_511d04734a7e3c76213e48092d509e0c.bindTooltip(
                `<div>
                     Milk Stand
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d9e25d6b8c7241e43855b5b815951c1d = L.marker(
                [33.8147258031444, -117.920964585531],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_7a9ab82169bc58356abe46ab5d35d891 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d9e25d6b8c7241e43855b5b815951c1d.setIcon(icon_7a9ab82169bc58356abe46ab5d35d891);
        
    
        var popup_3fb6d787a6dfe7a77f66d08d58c4155e = L.popup({"maxWidth": 200});

        
            var html_28296fcc6675eeb8bac44619b48c2fd8 = $(`<div id="html_28296fcc6675eeb8bac44619b48c2fd8" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://1.bp.blogspot.com/-OgKZPkbeDbw/Xg9xicQSGZI/AAAAAAAAPoQ/aY7-k5nvndou5KDssyY7GXCmPKgczqIvgCEwYBhgL/s1600/ogas-cantina-star-wars-galaxy-edge-disneyland-disneyworld%2B%252829%2529.jpg"><br>                 <h4>Oga's Cantina</h4>                 <p>$$$</p>                 <p>Galaxy's Edge</p>                 </div>                 </div>`)[0];
            popup_3fb6d787a6dfe7a77f66d08d58c4155e.setContent(html_28296fcc6675eeb8bac44619b48c2fd8);
        

        marker_d9e25d6b8c7241e43855b5b815951c1d.bindPopup(popup_3fb6d787a6dfe7a77f66d08d58c4155e)
        ;

        
    
    
            marker_d9e25d6b8c7241e43855b5b815951c1d.bindTooltip(
                `<div>
                     Oga's Cantina
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0542424610d13c01d9994799313d914e = L.marker(
                [33.81469267859092, -117.92147272989884],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_733eec24003e9c32bec637927089f70d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_0542424610d13c01d9994799313d914e.setIcon(icon_733eec24003e9c32bec637927089f70d);
        
    
        var popup_8bbc0fa1d69d70424a64f1e78e472870 = L.popup({"maxWidth": 200});

        
            var html_1f940c62b676e30625837caa0ed0866e = $(`<div id="html_1f940c62b676e30625837caa0ed0866e" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://blogmickey.com/wp-content/uploads/2019/06/docking-bay-7-review-lunch-dinner-food-10.jpg"><br>                 <h4>Docking Bay 7 Food & Cargo</h4>                 <p>$$$</p>                 <p>Galaxy's Edge</p>                 </div>                 </div>`)[0];
            popup_8bbc0fa1d69d70424a64f1e78e472870.setContent(html_1f940c62b676e30625837caa0ed0866e);
        

        marker_0542424610d13c01d9994799313d914e.bindPopup(popup_8bbc0fa1d69d70424a64f1e78e472870)
        ;

        
    
    
            marker_0542424610d13c01d9994799313d914e.bindTooltip(
                `<div>
                     Docking Bay 7 Food & Cargo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a28d271275c6d84c772a47c1fd9970aa = L.marker(
                [33.812590935972715, -117.92260721018377],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_874c71483b07be3ad0435557f3e22f76 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_a28d271275c6d84c772a47c1fd9970aa.setIcon(icon_874c71483b07be3ad0435557f3e22f76);
        
    
        var popup_648b21b61d292134cc682b7376b16f6b = L.popup({"maxWidth": 200});

        
            var html_2e9fd9a6a46b362fe67e5cf136576e14 = $(`<div id="html_2e9fd9a6a46b362fe67e5cf136576e14" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://www.disneyfoodblog.com/wp-content/uploads/2021/05/disneyand-hungry-bear-restaurant-exterior-and-sign-may-2021-5-700x414.jpg"><br>                 <h4>Hungry Bear Restaurant</h4>                 <p>$$</p>                 <p>Critter Country</p>                 </div>                 </div>`)[0];
            popup_648b21b61d292134cc682b7376b16f6b.setContent(html_2e9fd9a6a46b362fe67e5cf136576e14);
        

        marker_a28d271275c6d84c772a47c1fd9970aa.bindPopup(popup_648b21b61d292134cc682b7376b16f6b)
        ;

        
    
    
            marker_a28d271275c6d84c772a47c1fd9970aa.bindTooltip(
                `<div>
                     Hungry Bear Restaurant
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4dc8692edac6e52bf8e942fa8d7e3244 = L.marker(
                [33.812041180621804, -117.9219757109676],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_b9fc1adfd6d904f5f5c690af0355baef = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4dc8692edac6e52bf8e942fa8d7e3244.setIcon(icon_b9fc1adfd6d904f5f5c690af0355baef);
        
    
        var popup_8f5bfc3b38b0757048f32636e89a0b1d = L.popup({"maxWidth": 200});

        
            var html_877a7dd8d99b974db9e710b29e7f9358 = $(`<div id="html_877a7dd8d99b974db9e710b29e7f9358" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://www.disneyland4ever.com/uploads/2/4/8/5/24855797/237474779.jpg"><br>                 <h4>Harbour Galley</h4>                 <p>$$</p>                 <p>Critter Country</p>                 </div>                 </div>`)[0];
            popup_8f5bfc3b38b0757048f32636e89a0b1d.setContent(html_877a7dd8d99b974db9e710b29e7f9358);
        

        marker_4dc8692edac6e52bf8e942fa8d7e3244.bindPopup(popup_8f5bfc3b38b0757048f32636e89a0b1d)
        ;

        
    
    
            marker_4dc8692edac6e52bf8e942fa8d7e3244.bindTooltip(
                `<div>
                     Harbour Galley
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4a6359f419e38fce7d7ed11f4e6df2a5 = L.marker(
                [33.811182398373205, -117.92166376575899],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_e6be1d85c36d1a1faa0b5d0e6e11344a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4a6359f419e38fce7d7ed11f4e6df2a5.setIcon(icon_e6be1d85c36d1a1faa0b5d0e6e11344a);
        
    
        var popup_ba11ccb82a5dea764b6184959f61fa85 = L.popup({"maxWidth": 200});

        
            var html_130afadab486c0c4c2f34dba47dc8b35 = $(`<div id="html_130afadab486c0c4c2f34dba47dc8b35" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://www.disneyfoodblog.com/wp-content/uploads/2020/02/disneyland-new-orleans-square-mint-julep-bar-chocolate-strawberry-beignet-and-strawberry-julep.jpg"><br>                 <h4>Mint Julep Bar</h4>                 <p>$$</p>                 <p>New Orleans Square</p>                 </div>                 </div>`)[0];
            popup_ba11ccb82a5dea764b6184959f61fa85.setContent(html_130afadab486c0c4c2f34dba47dc8b35);
        

        marker_4a6359f419e38fce7d7ed11f4e6df2a5.bindPopup(popup_ba11ccb82a5dea764b6184959f61fa85)
        ;

        
    
    
            marker_4a6359f419e38fce7d7ed11f4e6df2a5.bindTooltip(
                `<div>
                     Mint Julep Bar
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1a57da7d71bf7b04a514d0ad43065d40 = L.marker(
                [33.81125204155685, -117.92162085041623],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_9db563901efb80f9c8e782999f88c818 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1a57da7d71bf7b04a514d0ad43065d40.setIcon(icon_9db563901efb80f9c8e782999f88c818);
        
    
        var popup_9e742e05d171c98a4dca085a556ceb3b = L.popup({"maxWidth": 200});

        
            var html_058b46a80fc3fe778baa9ce858c3bff1 = $(`<div id="html_058b46a80fc3fe778baa9ce858c3bff1" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://www.disneyfoodblog.com/wp-content/uploads/2015/11/French-Market-Disneyland-15-021.jpg"><br>                 <h4>French Market Restaurant</h4>                 <p>$$</p>                 <p>New Orleans Square</p>                 </div>                 </div>`)[0];
            popup_9e742e05d171c98a4dca085a556ceb3b.setContent(html_058b46a80fc3fe778baa9ce858c3bff1);
        

        marker_1a57da7d71bf7b04a514d0ad43065d40.bindPopup(popup_9e742e05d171c98a4dca085a556ceb3b)
        ;

        
    
    
            marker_1a57da7d71bf7b04a514d0ad43065d40.bindTooltip(
                `<div>
                     French Market Restaurant
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2503fde1a7a388e9d9e991a7f2167c62 = L.marker(
                [33.811243684377416, -117.92120041416223],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_63a74ea94dbd0669467df7d5b1e313e1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2503fde1a7a388e9d9e991a7f2167c62.setIcon(icon_63a74ea94dbd0669467df7d5b1e313e1);
        
    
        var popup_7b3ebcf05d2b31b21c3836a7af5a4468 = L.popup({"maxWidth": 200});

        
            var html_4f967f0d6123d0593b31ec5ae1d8c285 = $(`<div id="html_4f967f0d6123d0593b31ec5ae1d8c285" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://i.pinimg.com/736x/d7/66/fe/d766fee473f394d20cf65c3c2e7b77e5--disneyland-california-west-coast.jpg"><br>                 <h4>Cafe Orleans</h4>                 <p>$$$</p>                 <p>New Orleans Square</p>                 </div>                 </div>`)[0];
            popup_7b3ebcf05d2b31b21c3836a7af5a4468.setContent(html_4f967f0d6123d0593b31ec5ae1d8c285);
        

        marker_2503fde1a7a388e9d9e991a7f2167c62.bindPopup(popup_7b3ebcf05d2b31b21c3836a7af5a4468)
        ;

        
    
    
            marker_2503fde1a7a388e9d9e991a7f2167c62.bindTooltip(
                `<div>
                     Cafe Orleans
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6473180e6061e32284c2de1474bb82eb = L.marker(
                [33.811113869426435, -117.9210944669072],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_7b31e171765df08b17b565f0e4839367 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6473180e6061e32284c2de1474bb82eb.setIcon(icon_7b31e171765df08b17b565f0e4839367);
        
    
        var popup_9e3d5ef5b002c07fcedc30fb3c43d038 = L.popup({"maxWidth": 200});

        
            var html_703cf7d6e6efc4d0e090e15dc4810619 = $(`<div id="html_703cf7d6e6efc4d0e090e15dc4810619" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://s.hdnux.com/photos/01/23/47/43/21919957/3/1200x0.jpg"><br>                 <h4>Blue Bayou</h4>                 <p>$$$$</p>                 <p>New Orleans Square</p>                 </div>                 </div>`)[0];
            popup_9e3d5ef5b002c07fcedc30fb3c43d038.setContent(html_703cf7d6e6efc4d0e090e15dc4810619);
        

        marker_6473180e6061e32284c2de1474bb82eb.bindPopup(popup_9e3d5ef5b002c07fcedc30fb3c43d038)
        ;

        
    
    
            marker_6473180e6061e32284c2de1474bb82eb.bindTooltip(
                `<div>
                     Blue Bayou
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_674d09296ce462e98f743600c988eebc = L.marker(
                [33.81149662796846, -117.92051108644743],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_898e1bd31ddd6cacc99b745e6487f233 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_674d09296ce462e98f743600c988eebc.setIcon(icon_898e1bd31ddd6cacc99b745e6487f233);
        
    
        var popup_9e3471887da99ebc1e361ce42cf94885 = L.popup({"maxWidth": 200});

        
            var html_73bf78fc0d58a6c608e7fce09232d02f = $(`<div id="html_73bf78fc0d58a6c608e7fce09232d02f" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://d23.com/app/uploads/2013/04/1180w-600h_a-to-z-river-belle-terrace.jpg"><br>                 <h4>River Belle Terrace</h4>                 <p>$$$</p>                 <p>Adventureland</p>                 </div>                 </div>`)[0];
            popup_9e3471887da99ebc1e361ce42cf94885.setContent(html_73bf78fc0d58a6c608e7fce09232d02f);
        

        marker_674d09296ce462e98f743600c988eebc.bindPopup(popup_9e3471887da99ebc1e361ce42cf94885)
        ;

        
    
    
            marker_674d09296ce462e98f743600c988eebc.bindTooltip(
                `<div>
                     River Belle Terrace
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d1e6302cd7d75af632730711267f249e = L.marker(
                [33.81154732802444, -117.92031126189028],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_a200eda1981f595c06ee669e0047ee00 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d1e6302cd7d75af632730711267f249e.setIcon(icon_a200eda1981f595c06ee669e0047ee00);
        
    
        var popup_4ddf4c2e62159b76320a9c3be2f70529 = L.popup({"maxWidth": 200});

        
            var html_60bef4642cbde7cdb915e9dd7b6b0c0b = $(`<div id="html_60bef4642cbde7cdb915e9dd7b6b0c0b" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://media1.popsugar-assets.com/files/thumbor/MhbNoa_DTcPbizQu4rCCMABnc9w/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2018/11/07/013/n/45064954/3905520df9c03af7_IMG_0629/i/Bengal-Barbecue-Bengal-Plate.JPG"><br>                 <h4>Bengal Barbecue</h4>                 <p>$$</p>                 <p>Adventureland</p>                 </div>                 </div>`)[0];
            popup_4ddf4c2e62159b76320a9c3be2f70529.setContent(html_60bef4642cbde7cdb915e9dd7b6b0c0b);
        

        marker_d1e6302cd7d75af632730711267f249e.bindPopup(popup_4ddf4c2e62159b76320a9c3be2f70529)
        ;

        
    
    
            marker_d1e6302cd7d75af632730711267f249e.bindTooltip(
                `<div>
                     Bengal Barbecue
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3728a8ccef21c44582124bc0a78d01a9 = L.marker(
                [33.81189888473691, -117.9203206496091],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_6f19058625833292e3512adaf6588e94 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3728a8ccef21c44582124bc0a78d01a9.setIcon(icon_6f19058625833292e3512adaf6588e94);
        
    
        var popup_9ba81e7069c0718eb5ccc4ddd8cf6162 = L.popup({"maxWidth": 200});

        
            var html_8599d88cec66a8cfa2fdcd45b423a573 = $(`<div id="html_8599d88cec66a8cfa2fdcd45b423a573" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://www.ocregister.com/wp-content/uploads/migration/o0k/o0k3m7-b88517821z.120160106161829000g84crc77.20.jpg"><br>                 <h4>Stage Door Cafe</h4>                 <p>$</p>                 <p>Frontierland</p>                 </div>                 </div>`)[0];
            popup_9ba81e7069c0718eb5ccc4ddd8cf6162.setContent(html_8599d88cec66a8cfa2fdcd45b423a573);
        

        marker_3728a8ccef21c44582124bc0a78d01a9.bindPopup(popup_9ba81e7069c0718eb5ccc4ddd8cf6162)
        ;

        
    
    
            marker_3728a8ccef21c44582124bc0a78d01a9.bindTooltip(
                `<div>
                     Stage Door Cafe
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2e53914e323a08ab376cf77b790cfb51 = L.marker(
                [33.812048755541824, -117.9202844397871],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_f1a274aed087a7f521654580b6c14dbd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_2e53914e323a08ab376cf77b790cfb51.setIcon(icon_f1a274aed087a7f521654580b6c14dbd);
        
    
        var popup_e0b7e6a7fd60d248d601c790c268c545 = L.popup({"maxWidth": 200});

        
            var html_7c96424cee350c2f2185995e23e0a3d6 = $(`<div id="html_7c96424cee350c2f2185995e23e0a3d6" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://wdwnt.com/wp-content/uploads/2019/11/golden-horseshoe-dueling-pianos-disneyland_3.jpg"><br>                 <h4>Golden Horseshoe</h4>                 <p>$</p>                 <p>Frontierland</p>                 </div>                 </div>`)[0];
            popup_e0b7e6a7fd60d248d601c790c268c545.setContent(html_7c96424cee350c2f2185995e23e0a3d6);
        

        marker_2e53914e323a08ab376cf77b790cfb51.bindPopup(popup_e0b7e6a7fd60d248d601c790c268c545)
        ;

        
    
    
            marker_2e53914e323a08ab376cf77b790cfb51.bindTooltip(
                `<div>
                     Golden Horseshoe
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b69da9bb4d9a88f42dd5486da56926c4 = L.marker(
                [33.812423735113434, -117.92057041285449],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_d7cea960e0505411188b102c0bc6cf52 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b69da9bb4d9a88f42dd5486da56926c4.setIcon(icon_d7cea960e0505411188b102c0bc6cf52);
        
    
        var popup_9bd50e57f77b2c764d7f484e6e139072 = L.popup({"maxWidth": 200});

        
            var html_1ff192a6e440254f574752587e26711c = $(`<div id="html_1ff192a6e440254f574752587e26711c" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://i.pinimg.com/originals/a4/28/c3/a428c3c5ddd8db7be0981c3e64469f72.jpg"><br>                 <h4>Turkey Leg Cart</h4>                 <p>$$</p>                 <p>Frontierland</p>                 </div>                 </div>`)[0];
            popup_9bd50e57f77b2c764d7f484e6e139072.setContent(html_1ff192a6e440254f574752587e26711c);
        

        marker_b69da9bb4d9a88f42dd5486da56926c4.bindPopup(popup_9bd50e57f77b2c764d7f484e6e139072)
        ;

        
    
    
            marker_b69da9bb4d9a88f42dd5486da56926c4.bindTooltip(
                `<div>
                     Turkey Leg Cart
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bc183c703b4b322c040e3c6dd43e2aed = L.marker(
                [33.81245859568607, -117.9199964482139],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_e9f56841e5941b46b079651f3acd097e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_bc183c703b4b322c040e3c6dd43e2aed.setIcon(icon_e9f56841e5941b46b079651f3acd097e);
        
    
        var popup_c898291f9e3b7769bf6167f0f7ede3da = L.popup({"maxWidth": 200});

        
            var html_ae4df409bb6c835556e57033187568fe = $(`<div id="html_ae4df409bb6c835556e57033187568fe" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://blog-cdn.touringplans.com/blog/wp-content/uploads/2020/05/rancho-del-zocalo-800x445.png"><br>                 <h4>Rancho del Zocalo Restaurante</h4>                 <p>$$</p>                 <p>Frontierland</p>                 </div>                 </div>`)[0];
            popup_c898291f9e3b7769bf6167f0f7ede3da.setContent(html_ae4df409bb6c835556e57033187568fe);
        

        marker_bc183c703b4b322c040e3c6dd43e2aed.bindPopup(popup_c898291f9e3b7769bf6167f0f7ede3da)
        ;

        
    
    
            marker_bc183c703b4b322c040e3c6dd43e2aed.bindTooltip(
                `<div>
                     Rancho del Zocalo Restaurante
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f3dfe1bfcaa4711bdedd75702c4aeb56 = L.marker(
                [33.81250160079871, -117.91931709893191],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_8ce56572f4700b7ba4fb9956a3007ee2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f3dfe1bfcaa4711bdedd75702c4aeb56.setIcon(icon_8ce56572f4700b7ba4fb9956a3007ee2);
        
    
        var popup_977cd2c532918ede8bfec29656591f7e = L.popup({"maxWidth": 200});

        
            var html_015b086ea469fbc013790fec24e849d9 = $(`<div id="html_015b086ea469fbc013790fec24e849d9" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://diningatdisney.com/wp-content/uploads/2013/07/Maurices-Treats.jpg"><br>                 <h4>Maurice's Treats</h4>                 <p>$</p>                 <p>Fantasyland</p>                 </div>                 </div>`)[0];
            popup_977cd2c532918ede8bfec29656591f7e.setContent(html_015b086ea469fbc013790fec24e849d9);
        

        marker_f3dfe1bfcaa4711bdedd75702c4aeb56.bindPopup(popup_977cd2c532918ede8bfec29656591f7e)
        ;

        
    
    
            marker_f3dfe1bfcaa4711bdedd75702c4aeb56.bindTooltip(
                `<div>
                     Maurice's Treats
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c119d81359ecc43dbd4fa37607b530fb = L.marker(
                [33.81148556711443, -117.9186905116349],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_725b002f589635f0b849681ed820fe2d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c119d81359ecc43dbd4fa37607b530fb.setIcon(icon_725b002f589635f0b849681ed820fe2d);
        
    
        var popup_1433b783a7907b8f495fe1993e459b5a = L.popup({"maxWidth": 200});

        
            var html_b79025547c2cdcfb55019640b39acf6b = $(`<div id="html_b79025547c2cdcfb55019640b39acf6b" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://www.yesterland.com/images-mainstreet/redwagoninn_corndogs2017ww.jpg"><br>                 <h4>Little Red Wagon</h4>                 <p>$$</p>                 <p>Main Street</p>                 </div>                 </div>`)[0];
            popup_1433b783a7907b8f495fe1993e459b5a.setContent(html_b79025547c2cdcfb55019640b39acf6b);
        

        marker_c119d81359ecc43dbd4fa37607b530fb.bindPopup(popup_1433b783a7907b8f495fe1993e459b5a)
        ;

        
    
    
            marker_c119d81359ecc43dbd4fa37607b530fb.bindTooltip(
                `<div>
                     Little Red Wagon
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3b02225647cd1597595da77d2cbce41e = L.marker(
                [33.811242012942394, -117.92095096871431],
                {}
            ).addTo(map_7d651a69b99204861623c51032014ff7);
        
    
            var icon_3f63d14f6927ac85d735c90dbcb1c329 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3b02225647cd1597595da77d2cbce41e.setIcon(icon_3f63d14f6927ac85d735c90dbcb1c329);
        
    
        var popup_5a3bf6feee67124584d48741128fd65b = L.popup({"maxWidth": 200});

        
            var html_bf63fc718b914e2502c13f8f63a0bfad = $(`<div id="html_bf63fc718b914e2502c13f8f63a0bfad" style="width: 100.0%; height: 100.0%;">                 <div>                 <img style="max-width: 175px;" src="https://blog-cdn.touringplans.com/blog/wp-content/uploads/2021/11/IMG_3753-700x525.jpg"><br>                 <h4>Royal Street Veranda</h4>                 <p>$</p>                 <p>New Orleans Square</p>                 </div>                 </div>`)[0];
            popup_5a3bf6feee67124584d48741128fd65b.setContent(html_bf63fc718b914e2502c13f8f63a0bfad);
        

        marker_3b02225647cd1597595da77d2cbce41e.bindPopup(popup_5a3bf6feee67124584d48741128fd65b)
        ;

        
    
    
            marker_3b02225647cd1597595da77d2cbce41e.bindTooltip(
                `<div>
                     Royal Street Veranda
                 </div>`,
                {"sticky": true}
            );
        
</script>