<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d6762734eeaa42c5392b9cd91abd4754 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_d6762734eeaa42c5392b9cd91abd4754" ></div>
        
</body>
<script>    
    
            var map_d6762734eeaa42c5392b9cd91abd4754 = L.map(
                "map_d6762734eeaa42c5392b9cd91abd4754",
                {
                    center: [33.812034, -117.918968],
                    crs: L.CRS.EPSG3857,
                    zoom: 16,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c132bf41555aafd60899b853cfe4a352 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 15, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var marker_c17690672d0f78eaa578b6e021d9887e = L.marker(
                [33.811067, -117.919103],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_54ed4806325965a3b25fb652d8264ff6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c17690672d0f78eaa578b6e021d9887e.setIcon(icon_54ed4806325965a3b25fb652d8264ff6);
        
    
        var popup_2517375e6cfca1878cdf2444d05e92a8 = L.popup({"maxWidth": "100%"});

        
            var html_7236260dde2568dd4663f3e3438cc1bf = $(`<div id="html_7236260dde2568dd4663f3e3438cc1bf" style="width: 100.0%; height: 100.0%;"><a href='https://eatingdisneyland.com'>Click Me</a></div>`)[0];
            popup_2517375e6cfca1878cdf2444d05e92a8.setContent(html_7236260dde2568dd4663f3e3438cc1bf);
        

        marker_c17690672d0f78eaa578b6e021d9887e.bindPopup(popup_2517375e6cfca1878cdf2444d05e92a8)
        ;

        
    
    
            marker_c17690672d0f78eaa578b6e021d9887e.bindTooltip(
                `<div>
                     Carnation Cafe
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_56497b2e5423a1da5a333d1f0a00d3b2 = L.marker(
                [33.811165, -117.919086],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_169c2c18aa94bfd662c03e87377fc715 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_56497b2e5423a1da5a333d1f0a00d3b2.setIcon(icon_169c2c18aa94bfd662c03e87377fc715);
        
    
        var popup_ad7c81cdfa79af2d9b0a9e63ddf33259 = L.popup({"maxWidth": "100%"});

        
            var html_09205e26bb54901c8ff7a3b0f99b4560 = $(`<div id="html_09205e26bb54901c8ff7a3b0f99b4560" style="width: 100.0%; height: 100.0%;">Gibson Girl Ice Cream</div>`)[0];
            popup_ad7c81cdfa79af2d9b0a9e63ddf33259.setContent(html_09205e26bb54901c8ff7a3b0f99b4560);
        

        marker_56497b2e5423a1da5a333d1f0a00d3b2.bindPopup(popup_ad7c81cdfa79af2d9b0a9e63ddf33259)
        ;

        
    
    
            marker_56497b2e5423a1da5a333d1f0a00d3b2.bindTooltip(
                `<div>
                     Gibson Girl
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_08156c37e9e6f619dfcebffe98e6607d = L.marker(
                [33.81144, -117.919081],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_8c3ff928bbbd9fe851d7fd779032160d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-spoon", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_08156c37e9e6f619dfcebffe98e6607d.setIcon(icon_8c3ff928bbbd9fe851d7fd779032160d);
        
    
        var popup_9414307add134e14a2e7d5b63cbd4d7e = L.popup({"maxWidth": "100%"});

        
            var html_5bc64e7276dbb5847187c41761a4b981 = $(`<div id="html_5bc64e7276dbb5847187c41761a4b981" style="width: 100.0%; height: 100.0%;">Refreshment Corner</div>`)[0];
            popup_9414307add134e14a2e7d5b63cbd4d7e.setContent(html_5bc64e7276dbb5847187c41761a4b981);
        

        marker_08156c37e9e6f619dfcebffe98e6607d.bindPopup(popup_9414307add134e14a2e7d5b63cbd4d7e)
        ;

        
    
    
            marker_08156c37e9e6f619dfcebffe98e6607d.bindTooltip(
                `<div>
                     Refreshment Corner
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_73379946032a1a07c1fa4a75668ce6ce = L.marker(
                [33.8116963939521, -117.91851581766903],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_9da9923b21e004ead58d42a2c012f896 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_73379946032a1a07c1fa4a75668ce6ce.setIcon(icon_9da9923b21e004ead58d42a2c012f896);
        
    
        var popup_8ec658da9e0279867fa89498b917be4a = L.popup({"maxWidth": "100%"});

        
            var html_fba38b72120c06bb65a27aa1bebf2826 = $(`<div id="html_fba38b72120c06bb65a27aa1bebf2826" style="width: 100.0%; height: 100.0%;">Plaza Inn</div>`)[0];
            popup_8ec658da9e0279867fa89498b917be4a.setContent(html_fba38b72120c06bb65a27aa1bebf2826);
        

        marker_73379946032a1a07c1fa4a75668ce6ce.bindPopup(popup_8ec658da9e0279867fa89498b917be4a)
        ;

        
    
    
            marker_73379946032a1a07c1fa4a75668ce6ce.bindTooltip(
                `<div>
                     Plaza Inn
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4322a4f3d41368a84c0e12853457c657 = L.marker(
                [33.81148556711443, -117.9186905116349],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_258508f7ce709fd64e8fe9e466baed72 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4322a4f3d41368a84c0e12853457c657.setIcon(icon_258508f7ce709fd64e8fe9e466baed72);
        
    
        var popup_52a15059f01e0f403c35f407eac8cb8a = L.popup({"maxWidth": "100%"});

        
            var html_2c6a24cbab3288ba5ce36f105e091c35 = $(`<div id="html_2c6a24cbab3288ba5ce36f105e091c35" style="width: 100.0%; height: 100.0%;">Little Red Wagon</div>`)[0];
            popup_52a15059f01e0f403c35f407eac8cb8a.setContent(html_2c6a24cbab3288ba5ce36f105e091c35);
        

        marker_4322a4f3d41368a84c0e12853457c657.bindPopup(popup_52a15059f01e0f403c35f407eac8cb8a)
        ;

        
    
    
            marker_4322a4f3d41368a84c0e12853457c657.bindTooltip(
                `<div>
                     Little Red Wagon
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f3641a4d586bac4551cae7f58555673c = L.marker(
                [33.81168285912394, -117.9193818473908],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_76328e44199ff8c94a4a392a95459147 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f3641a4d586bac4551cae7f58555673c.setIcon(icon_76328e44199ff8c94a4a392a95459147);
        
    
        var popup_ad861dc8a73146e8da6f4c7e812403f9 = L.popup({"maxWidth": "100%"});

        
            var html_f301e2e5d3400f4fda6230384a9aabfe = $(`<div id="html_f301e2e5d3400f4fda6230384a9aabfe" style="width: 100.0%; height: 100.0%;">Jolly Holiday Bakery Cafe</div>`)[0];
            popup_ad861dc8a73146e8da6f4c7e812403f9.setContent(html_f301e2e5d3400f4fda6230384a9aabfe);
        

        marker_f3641a4d586bac4551cae7f58555673c.bindPopup(popup_ad861dc8a73146e8da6f4c7e812403f9)
        ;

        
    
    
            marker_f3641a4d586bac4551cae7f58555673c.bindTooltip(
                `<div>
                     Jolly Holiday Bakery Cafe
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_34831f137b89efbd9f84ee57be590781 = L.marker(
                [33.81245859568607, -117.9199964482139],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_3c59cfb5c6bc37b53a01cfb3456286c0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_34831f137b89efbd9f84ee57be590781.setIcon(icon_3c59cfb5c6bc37b53a01cfb3456286c0);
        
    
        var popup_f0250c94ecd9e5788221740f455fc776 = L.popup({"maxWidth": "100%"});

        
            var html_0bce67d6c06d8a063ef494931aa8d587 = $(`<div id="html_0bce67d6c06d8a063ef494931aa8d587" style="width: 100.0%; height: 100.0%;">Rancho Del Zocalo</div>`)[0];
            popup_f0250c94ecd9e5788221740f455fc776.setContent(html_0bce67d6c06d8a063ef494931aa8d587);
        

        marker_34831f137b89efbd9f84ee57be590781.bindPopup(popup_f0250c94ecd9e5788221740f455fc776)
        ;

        
    
    
            marker_34831f137b89efbd9f84ee57be590781.bindTooltip(
                `<div>
                     Rancho del Zocalo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8dda195196d031b565a6f5013bd8305c = L.marker(
                [33.8137647609972, -117.91774430413204],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_1b193958a18af4f669922a837dc82375 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8dda195196d031b565a6f5013bd8305c.setIcon(icon_1b193958a18af4f669922a837dc82375);
        
    
        var popup_94ea4ce68db6645de45dd77f78931c1a = L.popup({"maxWidth": "100%"});

        
            var html_7ca9fb75bf68d43ef1fc5cd2c85f46c9 = $(`<div id="html_7ca9fb75bf68d43ef1fc5cd2c85f46c9" style="width: 100.0%; height: 100.0%;">Edelweiss Snacks</div>`)[0];
            popup_94ea4ce68db6645de45dd77f78931c1a.setContent(html_7ca9fb75bf68d43ef1fc5cd2c85f46c9);
        

        marker_8dda195196d031b565a6f5013bd8305c.bindPopup(popup_94ea4ce68db6645de45dd77f78931c1a)
        ;

        
    
    
            marker_8dda195196d031b565a6f5013bd8305c.bindTooltip(
                `<div>
                     Edelweiss Snacks
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1b338adc77e7060c352a82e771fa718e = L.marker(
                [33.81346065509974, -117.9194651550013],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_6c065405c6dd9baf4c54a3d0ea01cf61 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1b338adc77e7060c352a82e771fa718e.setIcon(icon_6c065405c6dd9baf4c54a3d0ea01cf61);
        
    
        var popup_0a6b66871fa97d9964c59b81c3ce6475 = L.popup({"maxWidth": "100%"});

        
            var html_724a38b3a7602b87adf9e447df25ca56 = $(`<div id="html_724a38b3a7602b87adf9e447df25ca56" style="width: 100.0%; height: 100.0%;">Red Rose Taverne</div>`)[0];
            popup_0a6b66871fa97d9964c59b81c3ce6475.setContent(html_724a38b3a7602b87adf9e447df25ca56);
        

        marker_1b338adc77e7060c352a82e771fa718e.bindPopup(popup_0a6b66871fa97d9964c59b81c3ce6475)
        ;

        
    
    
            marker_1b338adc77e7060c352a82e771fa718e.bindTooltip(
                `<div>
                     Red Rose Taverne
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_54c2b1a202a1331d6f12554742a11de7 = L.marker(
                [33.811728031793685, -117.91691154585381],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_3cd8aaad256cd17b2e80c37efe69b2a0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_54c2b1a202a1331d6f12554742a11de7.setIcon(icon_3cd8aaad256cd17b2e80c37efe69b2a0);
        
    
        var popup_5e95585b731d23cd9b1c4ad99074f02b = L.popup({"maxWidth": "100%"});

        
            var html_44ffc1b5ea84b27f8a3f5d39b7db2382 = $(`<div id="html_44ffc1b5ea84b27f8a3f5d39b7db2382" style="width: 100.0%; height: 100.0%;">Alien Pizza Planet</div>`)[0];
            popup_5e95585b731d23cd9b1c4ad99074f02b.setContent(html_44ffc1b5ea84b27f8a3f5d39b7db2382);
        

        marker_54c2b1a202a1331d6f12554742a11de7.bindPopup(popup_5e95585b731d23cd9b1c4ad99074f02b)
        ;

        
    
    
            marker_54c2b1a202a1331d6f12554742a11de7.bindTooltip(
                `<div>
                     Alien Pizza Planet
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e467ca099a5fe9213683109bea32d6e4 = L.marker(
                [33.8123815226415, -117.91715260949891],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_268c9c71fecae56fb334e42b96168c2c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_e467ca099a5fe9213683109bea32d6e4.setIcon(icon_268c9c71fecae56fb334e42b96168c2c);
        
    
        var popup_4c171ff197564d4b0497f1c00566a493 = L.popup({"maxWidth": "100%"});

        
            var html_35dbfa6944ca39fd05a3e3e9ade875d4 = $(`<div id="html_35dbfa6944ca39fd05a3e3e9ade875d4" style="width: 100.0%; height: 100.0%;">Galactic Grill</div>`)[0];
            popup_4c171ff197564d4b0497f1c00566a493.setContent(html_35dbfa6944ca39fd05a3e3e9ade875d4);
        

        marker_e467ca099a5fe9213683109bea32d6e4.bindPopup(popup_4c171ff197564d4b0497f1c00566a493)
        ;

        
    
    
            marker_e467ca099a5fe9213683109bea32d6e4.bindTooltip(
                `<div>
                     Galactic Grill
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4d61ebd3f8268dd74f7c422b8e6c4440 = L.marker(
                [33.8137647609972, -117.91774430413204],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_f6d484d91a7faa4c59d16c8af36c8272 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4d61ebd3f8268dd74f7c422b8e6c4440.setIcon(icon_f6d484d91a7faa4c59d16c8af36c8272);
        
    
        var popup_b81e57af837e80c5591764af6524a55f = L.popup({"maxWidth": "100%"});

        
            var html_05bf90256cd221e068c401f50038eff5 = $(`<div id="html_05bf90256cd221e068c401f50038eff5" style="width: 100.0%; height: 100.0%;">Edelweiss Snacks</div>`)[0];
            popup_b81e57af837e80c5591764af6524a55f.setContent(html_05bf90256cd221e068c401f50038eff5);
        

        marker_4d61ebd3f8268dd74f7c422b8e6c4440.bindPopup(popup_b81e57af837e80c5591764af6524a55f)
        ;

        
    
    
            marker_4d61ebd3f8268dd74f7c422b8e6c4440.bindTooltip(
                `<div>
                     Edelweiss Snacks
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d45fc402e681dc923bd12b39d127881e = L.marker(
                [33.8144856242707, -117.91875940912425],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_fdb09a68ce972ec0a6f3fc5b48902c31 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d45fc402e681dc923bd12b39d127881e.setIcon(icon_fdb09a68ce972ec0a6f3fc5b48902c31);
        
    
        var popup_9a9a4f6e4f2e5f23bb277282886f8ef9 = L.popup({"maxWidth": "100%"});

        
            var html_5f1f138642b0c2484102186f11fcba44 = $(`<div id="html_5f1f138642b0c2484102186f11fcba44" style="width: 100.0%; height: 100.0%;">Troubador Tavern</div>`)[0];
            popup_9a9a4f6e4f2e5f23bb277282886f8ef9.setContent(html_5f1f138642b0c2484102186f11fcba44);
        

        marker_d45fc402e681dc923bd12b39d127881e.bindPopup(popup_9a9a4f6e4f2e5f23bb277282886f8ef9)
        ;

        
    
    
            marker_d45fc402e681dc923bd12b39d127881e.bindTooltip(
                `<div>
                     Troubador Tavern
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f31e2054af429965fb2d6fadbbd6d26d = L.marker(
                [33.81551618186138, -117.91871838555176],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_9c34f88c9383a87d9eead5816a983acc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f31e2054af429965fb2d6fadbbd6d26d.setIcon(icon_9c34f88c9383a87d9eead5816a983acc);
        
    
        var popup_f739ec3468cc7e8b747ef561ed6f52b8 = L.popup({"maxWidth": "100%"});

        
            var html_f8a2929c258adf35d626eafd0bd6ea8f = $(`<div id="html_f8a2929c258adf35d626eafd0bd6ea8f" style="width: 100.0%; height: 100.0%;">Daisy's Diner</div>`)[0];
            popup_f739ec3468cc7e8b747ef561ed6f52b8.setContent(html_f8a2929c258adf35d626eafd0bd6ea8f);
        

        marker_f31e2054af429965fb2d6fadbbd6d26d.bindPopup(popup_f739ec3468cc7e8b747ef561ed6f52b8)
        ;

        
    
    
            marker_f31e2054af429965fb2d6fadbbd6d26d.bindTooltip(
                `<div>
                     Daisy's Diner
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_07a172ae77c15662a9f24e1d2ffc66f4 = L.marker(
                [33.81554960890238, -117.91871033892531],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_d28365b83f641414c6c16e047203005c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_07a172ae77c15662a9f24e1d2ffc66f4.setIcon(icon_d28365b83f641414c6c16e047203005c);
        
    
        var popup_7bf4b24a3004f2661c28d848d22fca22 = L.popup({"maxWidth": "100%"});

        
            var html_36d0f16f050b61b3056ff30261feb6f4 = $(`<div id="html_36d0f16f050b61b3056ff30261feb6f4" style="width: 100.0%; height: 100.0%;">Pluto's Doghouse</div>`)[0];
            popup_7bf4b24a3004f2661c28d848d22fca22.setContent(html_36d0f16f050b61b3056ff30261feb6f4);
        

        marker_07a172ae77c15662a9f24e1d2ffc66f4.bindPopup(popup_7bf4b24a3004f2661c28d848d22fca22)
        ;

        
    
    
            marker_07a172ae77c15662a9f24e1d2ffc66f4.bindTooltip(
                `<div>
                     Pluto's Doghouse
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3c7e2fa313ba43562cefccad18bff8bc = L.marker(
                [33.81557802187698, -117.91868821070254],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_1f6e47427b7ef26c35839c5aecbc6161 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3c7e2fa313ba43562cefccad18bff8bc.setIcon(icon_1f6e47427b7ef26c35839c5aecbc6161);
        
    
        var popup_4223964335ca78980db151804d047301 = L.popup({"maxWidth": "100%"});

        
            var html_665ccc2e6aecf9b9657d69dcaa224d81 = $(`<div id="html_665ccc2e6aecf9b9657d69dcaa224d81" style="width: 100.0%; height: 100.0%;">Clarabelle's</div>`)[0];
            popup_4223964335ca78980db151804d047301.setContent(html_665ccc2e6aecf9b9657d69dcaa224d81);
        

        marker_3c7e2fa313ba43562cefccad18bff8bc.bindPopup(popup_4223964335ca78980db151804d047301)
        ;

        
    
    
            marker_3c7e2fa313ba43562cefccad18bff8bc.bindTooltip(
                `<div>
                     Clarabelle's
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1c04395434c73ac99f143de0838ba337 = L.marker(
                [33.814428886234296, -117.92069637808706],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_9431c179f1e9d3397a4c7622f8ee6f05 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1c04395434c73ac99f143de0838ba337.setIcon(icon_9431c179f1e9d3397a4c7622f8ee6f05);
        
    
        var popup_6f320f4c8a920f405698176cdd5d929c = L.popup({"maxWidth": "100%"});

        
            var html_1a2197f37d9eff888137144a61744281 = $(`<div id="html_1a2197f37d9eff888137144a61744281" style="width: 100.0%; height: 100.0%;">Milk Stand</div>`)[0];
            popup_6f320f4c8a920f405698176cdd5d929c.setContent(html_1a2197f37d9eff888137144a61744281);
        

        marker_1c04395434c73ac99f143de0838ba337.bindPopup(popup_6f320f4c8a920f405698176cdd5d929c)
        ;

        
    
    
            marker_1c04395434c73ac99f143de0838ba337.bindTooltip(
                `<div>
                     Milk Stand
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3ab254ad75c3e4b904a41c4c9afc4b43 = L.marker(
                [33.8147258031444, -117.920964585531],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_e5385100113ae8b26d34cc315835c346 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_3ab254ad75c3e4b904a41c4c9afc4b43.setIcon(icon_e5385100113ae8b26d34cc315835c346);
        
    
        var popup_877e207d38f95e598cc7158bd4a4938f = L.popup({"maxWidth": "100%"});

        
            var html_648b44145fc55086e1d3c28e8abae982 = $(`<div id="html_648b44145fc55086e1d3c28e8abae982" style="width: 100.0%; height: 100.0%;">Oga's Cantina</div>`)[0];
            popup_877e207d38f95e598cc7158bd4a4938f.setContent(html_648b44145fc55086e1d3c28e8abae982);
        

        marker_3ab254ad75c3e4b904a41c4c9afc4b43.bindPopup(popup_877e207d38f95e598cc7158bd4a4938f)
        ;

        
    
    
            marker_3ab254ad75c3e4b904a41c4c9afc4b43.bindTooltip(
                `<div>
                     Oga's Cantina
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6ebb15933c20038aeecdc4e623fd1d86 = L.marker(
                [33.81469267859092, -117.92147272989884],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_2b21bfe2948ba1d1abade833c69d5ece = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6ebb15933c20038aeecdc4e623fd1d86.setIcon(icon_2b21bfe2948ba1d1abade833c69d5ece);
        
    
        var popup_0782d3f9249ed86bb04792724136940b = L.popup({"maxWidth": "100%"});

        
            var html_5f16839430387d89dc906ba559f7b1ca = $(`<div id="html_5f16839430387d89dc906ba559f7b1ca" style="width: 100.0%; height: 100.0%;">Docking Bay 7 Food & Cargo</div>`)[0];
            popup_0782d3f9249ed86bb04792724136940b.setContent(html_5f16839430387d89dc906ba559f7b1ca);
        

        marker_6ebb15933c20038aeecdc4e623fd1d86.bindPopup(popup_0782d3f9249ed86bb04792724136940b)
        ;

        
    
    
            marker_6ebb15933c20038aeecdc4e623fd1d86.bindTooltip(
                `<div>
                     Docking Bay 7 Food & Cargo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_88415bbaafa57301ed21e737f830b5c7 = L.marker(
                [33.814462613156586, -117.92153869443413],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_048d4787f89cf76e7bf4fefe42d40f5d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_88415bbaafa57301ed21e737f830b5c7.setIcon(icon_048d4787f89cf76e7bf4fefe42d40f5d);
        
    
        var popup_358b8c49463a0e0bb05bf6f40d49070a = L.popup({"maxWidth": "100%"});

        
            var html_095e47b5fa48da94050a86c6ada8d2eb = $(`<div id="html_095e47b5fa48da94050a86c6ada8d2eb" style="width: 100.0%; height: 100.0%;">Ronto Roasters</div>`)[0];
            popup_358b8c49463a0e0bb05bf6f40d49070a.setContent(html_095e47b5fa48da94050a86c6ada8d2eb);
        

        marker_88415bbaafa57301ed21e737f830b5c7.bindPopup(popup_358b8c49463a0e0bb05bf6f40d49070a)
        ;

        
    
    
            marker_88415bbaafa57301ed21e737f830b5c7.bindTooltip(
                `<div>
                     Ronto Roasters
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_eabc37dea9ee940a2126e280cd1240f3 = L.marker(
                [33.812590935972715, -117.92260721018377],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_45d232547762006a1d7ae97f94a393dd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_eabc37dea9ee940a2126e280cd1240f3.setIcon(icon_45d232547762006a1d7ae97f94a393dd);
        
    
        var popup_e26684cfb2b4b79d4939375f5ef80675 = L.popup({"maxWidth": "100%"});

        
            var html_13c28b6402ddc503b5bcdbc263c544cd = $(`<div id="html_13c28b6402ddc503b5bcdbc263c544cd" style="width: 100.0%; height: 100.0%;">Hungry Bear Restaurant</div>`)[0];
            popup_e26684cfb2b4b79d4939375f5ef80675.setContent(html_13c28b6402ddc503b5bcdbc263c544cd);
        

        marker_eabc37dea9ee940a2126e280cd1240f3.bindPopup(popup_e26684cfb2b4b79d4939375f5ef80675)
        ;

        
    
    
            marker_eabc37dea9ee940a2126e280cd1240f3.bindTooltip(
                `<div>
                     Hungry Bear Restaurant
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_adab9c700cfba806a9b2e94c3869c607 = L.marker(
                [33.812041180621804, -117.9219757109676],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_28650f9d95a31072ff9eecf3168c13ca = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_adab9c700cfba806a9b2e94c3869c607.setIcon(icon_28650f9d95a31072ff9eecf3168c13ca);
        
    
        var popup_cf7e4a3735cb9823d28445015c918da0 = L.popup({"maxWidth": 200});

        
            var html_b7b9b97b37780c0af263ebc3aa75f32d = $(`<div id="html_b7b9b97b37780c0af263ebc3aa75f32d" style="width: 100.0%; height: 100.0%;">         <div>         <img style="max-width: 175px;" src="https://farm8.static.flickr.com/7384/12143860156_c84d299f7e_b.jpg"><br>         <h4>Harbour Galley</h4>         <p>Here's the Harbour Galley</p>         </div>         </div>`)[0];
            popup_cf7e4a3735cb9823d28445015c918da0.setContent(html_b7b9b97b37780c0af263ebc3aa75f32d);
        

        marker_adab9c700cfba806a9b2e94c3869c607.bindPopup(popup_cf7e4a3735cb9823d28445015c918da0)
        ;

        
    
    
            marker_adab9c700cfba806a9b2e94c3869c607.bindTooltip(
                `<div>
                     Harbour Galley
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d03300aad3c30aa6f7b0ede6380f871c = L.marker(
                [33.811182398373205, -117.92166376575899],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_4cf1d43e4b1a0e558aa9ddbb008f1b28 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_d03300aad3c30aa6f7b0ede6380f871c.setIcon(icon_4cf1d43e4b1a0e558aa9ddbb008f1b28);
        
    
        var popup_27493a4b0f43a62798c0840e5bc5e36a = L.popup({"maxWidth": "100%"});

        
            var html_0cdb5d5e321938dd44771e6b472945d2 = $(`<div id="html_0cdb5d5e321938dd44771e6b472945d2" style="width: 100.0%; height: 100.0%;">Mint Julep Bar</div>`)[0];
            popup_27493a4b0f43a62798c0840e5bc5e36a.setContent(html_0cdb5d5e321938dd44771e6b472945d2);
        

        marker_d03300aad3c30aa6f7b0ede6380f871c.bindPopup(popup_27493a4b0f43a62798c0840e5bc5e36a)
        ;

        
    
    
            marker_d03300aad3c30aa6f7b0ede6380f871c.bindTooltip(
                `<div>
                     Mint Julep Bar
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ddd38f63ed3f80de769176b873cc16fc = L.marker(
                [33.81125204155685, -117.92162085041623],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_3c07deb1b9b21948e4c2b25ba9a6cb01 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ddd38f63ed3f80de769176b873cc16fc.setIcon(icon_3c07deb1b9b21948e4c2b25ba9a6cb01);
        
    
        var popup_d772d99b6506e893bbcaf5b1a50c06ca = L.popup({"maxWidth": "100%"});

        
            var html_2f9d5a1dd0984ec7e75ff1bbbd695e68 = $(`<div id="html_2f9d5a1dd0984ec7e75ff1bbbd695e68" style="width: 100.0%; height: 100.0%;">French Market Restaurant</div>`)[0];
            popup_d772d99b6506e893bbcaf5b1a50c06ca.setContent(html_2f9d5a1dd0984ec7e75ff1bbbd695e68);
        

        marker_ddd38f63ed3f80de769176b873cc16fc.bindPopup(popup_d772d99b6506e893bbcaf5b1a50c06ca)
        ;

        
    
    
            marker_ddd38f63ed3f80de769176b873cc16fc.bindTooltip(
                `<div>
                     French Market Restaurant
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1d3bd79d7f4f77e7ef1ed224dfbc59a3 = L.marker(
                [33.811243684377416, -117.92120041416223],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_e97762ddf78b8ad1368dcaef42ba2ef5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1d3bd79d7f4f77e7ef1ed224dfbc59a3.setIcon(icon_e97762ddf78b8ad1368dcaef42ba2ef5);
        
    
        var popup_829002bdb2640fd43594ac913f6ccea2 = L.popup({"maxWidth": "100%"});

        
            var html_dd8428d5a67f9fee79885092219f3744 = $(`<div id="html_dd8428d5a67f9fee79885092219f3744" style="width: 100.0%; height: 100.0%;">Cafe Orleans</div>`)[0];
            popup_829002bdb2640fd43594ac913f6ccea2.setContent(html_dd8428d5a67f9fee79885092219f3744);
        

        marker_1d3bd79d7f4f77e7ef1ed224dfbc59a3.bindPopup(popup_829002bdb2640fd43594ac913f6ccea2)
        ;

        
    
    
            marker_1d3bd79d7f4f77e7ef1ed224dfbc59a3.bindTooltip(
                `<div>
                     Cafe Orleans
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ab719f13c00bd5f1383cb5e9f32780c8 = L.marker(
                [33.811113869426435, -117.9210944669072],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_21dfd12ded83f6a7e7786d785b50769f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ab719f13c00bd5f1383cb5e9f32780c8.setIcon(icon_21dfd12ded83f6a7e7786d785b50769f);
        
    
        var popup_fff3c0240ff30af0eae22162c5d88c16 = L.popup({"maxWidth": "100%"});

        
            var html_0bea485818b8203673c3bc87c98c7d57 = $(`<div id="html_0bea485818b8203673c3bc87c98c7d57" style="width: 100.0%; height: 100.0%;">Blue Bayou</div>`)[0];
            popup_fff3c0240ff30af0eae22162c5d88c16.setContent(html_0bea485818b8203673c3bc87c98c7d57);
        

        marker_ab719f13c00bd5f1383cb5e9f32780c8.bindPopup(popup_fff3c0240ff30af0eae22162c5d88c16)
        ;

        
    
    
            marker_ab719f13c00bd5f1383cb5e9f32780c8.bindTooltip(
                `<div>
                     Blue Bayou
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6631452a3b9a22f8c652de0b2a515de3 = L.marker(
                [33.811242012942394, -117.92095096871431],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_b04e2f72f2f605e4d3992e3a9a68327e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6631452a3b9a22f8c652de0b2a515de3.setIcon(icon_b04e2f72f2f605e4d3992e3a9a68327e);
        
    
        var popup_2596ceac9af02dd86ea3e531991a51e1 = L.popup({"maxWidth": "100%"});

        
            var html_597c7035dab8891612a799dd2a8dceae = $(`<div id="html_597c7035dab8891612a799dd2a8dceae" style="width: 100.0%; height: 100.0%;">Royal Street Veranda</div>`)[0];
            popup_2596ceac9af02dd86ea3e531991a51e1.setContent(html_597c7035dab8891612a799dd2a8dceae);
        

        marker_6631452a3b9a22f8c652de0b2a515de3.bindPopup(popup_2596ceac9af02dd86ea3e531991a51e1)
        ;

        
    
    
            marker_6631452a3b9a22f8c652de0b2a515de3.bindTooltip(
                `<div>
                     Royal Street Veranda
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fb61ae8ad18d6076fd4e20739c317b69 = L.marker(
                [33.81149662796846, -117.92051108644743],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_ee7e4ec78fda3829e464136a4c895c79 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_fb61ae8ad18d6076fd4e20739c317b69.setIcon(icon_ee7e4ec78fda3829e464136a4c895c79);
        
    
        var popup_b6680d6b737aa4c8f3639a3fc973a28b = L.popup({"maxWidth": "100%"});

        
            var html_1ec85f5906f528ef41003b2129930e96 = $(`<div id="html_1ec85f5906f528ef41003b2129930e96" style="width: 100.0%; height: 100.0%;">River Belle Terrace</div>`)[0];
            popup_b6680d6b737aa4c8f3639a3fc973a28b.setContent(html_1ec85f5906f528ef41003b2129930e96);
        

        marker_fb61ae8ad18d6076fd4e20739c317b69.bindPopup(popup_b6680d6b737aa4c8f3639a3fc973a28b)
        ;

        
    
    
            marker_fb61ae8ad18d6076fd4e20739c317b69.bindTooltip(
                `<div>
                     River Belle Terrace
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_121209a9672c99aa1a5841ce48713aad = L.marker(
                [33.81154732802444, -117.92031126189028],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_7d8030d9d23b6344c76fa50d712af71c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_121209a9672c99aa1a5841ce48713aad.setIcon(icon_7d8030d9d23b6344c76fa50d712af71c);
        
    
        var popup_821ff6f9995a2f89d96dd84c54913771 = L.popup({"maxWidth": "100%"});

        
            var html_9d1ae6524217348f544aa3b9b4daeaca = $(`<div id="html_9d1ae6524217348f544aa3b9b4daeaca" style="width: 100.0%; height: 100.0%;">Bengal Barbecue</div>`)[0];
            popup_821ff6f9995a2f89d96dd84c54913771.setContent(html_9d1ae6524217348f544aa3b9b4daeaca);
        

        marker_121209a9672c99aa1a5841ce48713aad.bindPopup(popup_821ff6f9995a2f89d96dd84c54913771)
        ;

        
    
    
            marker_121209a9672c99aa1a5841ce48713aad.bindTooltip(
                `<div>
                     Bengal Barbecue
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_29d8fc78fd4841ab3e0156fe2ed6dcb6 = L.marker(
                [33.81189888473691, -117.9203206496091],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_6f9ea00f2eaeeb98369483c61d00ff08 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_29d8fc78fd4841ab3e0156fe2ed6dcb6.setIcon(icon_6f9ea00f2eaeeb98369483c61d00ff08);
        
    
        var popup_b6f42af2ebb61a4c85a876d18ac09ddf = L.popup({"maxWidth": "100%"});

        
            var html_8abbec231595c29e351c8b43d3e2237b = $(`<div id="html_8abbec231595c29e351c8b43d3e2237b" style="width: 100.0%; height: 100.0%;">Stage Door Cafe</div>`)[0];
            popup_b6f42af2ebb61a4c85a876d18ac09ddf.setContent(html_8abbec231595c29e351c8b43d3e2237b);
        

        marker_29d8fc78fd4841ab3e0156fe2ed6dcb6.bindPopup(popup_b6f42af2ebb61a4c85a876d18ac09ddf)
        ;

        
    
    
            marker_29d8fc78fd4841ab3e0156fe2ed6dcb6.bindTooltip(
                `<div>
                     Stage Door Cafe
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0971d2dc2c838976ad27e533fbf69d8b = L.marker(
                [33.812048755541824, -117.9202844397871],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_ef9b4116aa2e84d6870d7413d8e9e387 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_0971d2dc2c838976ad27e533fbf69d8b.setIcon(icon_ef9b4116aa2e84d6870d7413d8e9e387);
        
    
        var popup_eff628a131a7b6d6d434805a9f188354 = L.popup({"maxWidth": "100%"});

        
            var html_b59926671aac934b11055c46d62e1522 = $(`<div id="html_b59926671aac934b11055c46d62e1522" style="width: 100.0%; height: 100.0%;">The Golden Horseshoe</div>`)[0];
            popup_eff628a131a7b6d6d434805a9f188354.setContent(html_b59926671aac934b11055c46d62e1522);
        

        marker_0971d2dc2c838976ad27e533fbf69d8b.bindPopup(popup_eff628a131a7b6d6d434805a9f188354)
        ;

        
    
    
            marker_0971d2dc2c838976ad27e533fbf69d8b.bindTooltip(
                `<div>
                     The Golden Horseshoe
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b216cf8649419e25ae77ebc8b02d1428 = L.marker(
                [33.812423735113434, -117.92057041285449],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_457781a55a9d63bee6bff8321f2aaeb2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_b216cf8649419e25ae77ebc8b02d1428.setIcon(icon_457781a55a9d63bee6bff8321f2aaeb2);
        
    
        var popup_47d3cf73a9cec7187c83a6cf9cdd71c5 = L.popup({"maxWidth": "100%"});

        
            var html_dd76e8c3dd6f2a3eeb84810c6bd3ada1 = $(`<div id="html_dd76e8c3dd6f2a3eeb84810c6bd3ada1" style="width: 100.0%; height: 100.0%;">Turkey Leg Cart</div>`)[0];
            popup_47d3cf73a9cec7187c83a6cf9cdd71c5.setContent(html_dd76e8c3dd6f2a3eeb84810c6bd3ada1);
        

        marker_b216cf8649419e25ae77ebc8b02d1428.bindPopup(popup_47d3cf73a9cec7187c83a6cf9cdd71c5)
        ;

        
    
    
            marker_b216cf8649419e25ae77ebc8b02d1428.bindTooltip(
                `<div>
                     Turkey Leg Cart
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1a8dd01906e8e3c2539bb1d495f0a21d = L.marker(
                [33.81250160079871, -117.91931709893191],
                {}
            ).addTo(map_d6762734eeaa42c5392b9cd91abd4754);
        
    
            var icon_51d4563158f16a101058518228eaa5c7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_1a8dd01906e8e3c2539bb1d495f0a21d.setIcon(icon_51d4563158f16a101058518228eaa5c7);
        
    
        var popup_2d5c4db049dfb7334236c4d9eed8cd0c = L.popup({"maxWidth": "100%"});

        
            var html_bc1b818d84e8f12030455a8e250f1511 = $(`<div id="html_bc1b818d84e8f12030455a8e250f1511" style="width: 100.0%; height: 100.0%;">Maurice's Treats</div>`)[0];
            popup_2d5c4db049dfb7334236c4d9eed8cd0c.setContent(html_bc1b818d84e8f12030455a8e250f1511);
        

        marker_1a8dd01906e8e3c2539bb1d495f0a21d.bindPopup(popup_2d5c4db049dfb7334236c4d9eed8cd0c)
        ;

        
    
    
            marker_1a8dd01906e8e3c2539bb1d495f0a21d.bindTooltip(
                `<div>
                     Maurice's Treats
                 </div>`,
                {"sticky": true}
            );
        
</script>