{% extends 'base.html' %}

{% include 'navbar.html' %}

{% block title %}Everybody's Got an Eatin' Place{% endblock %}

{% block content %} 

<div class="card text-center mb-3">
    <img src="{{ restaurant.image_url }}" class="card-img-top" alt="There ought to be something here...">
    <div class="card-body">
      <h5 class="card-title">{{ restaurant.name }}</h5>
      <p class="card-text" style="font-style: italic;">{{ restaurant.land }}</p>
      <label>
        {{ star_avg(restaurant.rest_id, total_ratings(restaurant.rest_id)) }}<i class="fas fa-star star"></i>  
        <span style="font-style:italic; font-size: smaller;">({{ total_ratings(restaurant.rest_id) }} reviews)</span>
      </label>
      <p class="card-text"><small class="text-muted">{{ restaurant.expense }}</small></p>
      <p class="card-text">{{ restaurant.description }}</p>
      <a href="#">See All Reviews</a>

      {% if current_user.is_authenticated %}
        {% if rated %}
        <div>
            <h5>You have already reviewed this place, thanks!</h5>
            <a class="btn btn-outline-primary btn-sm" href="#">See your review</a>
            <a class="btn btn-outline-primary btn-sm" href="{{ url_for('restaurants') }}">Rate more restaurants</a><br>
        </div>
        {% else %}
        <div class="container justify-content-md-center" style="padding-top: 5%;">
            <form class="" method="post" action="{{ url_for('eating_place', rest_id=restaurant.rest_id) }}">
                <h2 class="heading">Leave a Review</h2>
                    {{ form.csrf_token }}
                <div class="form-group m-2">
                    {{ form.star_rating.label }}
                    {{ form.star_rating(class="form-select") }}
                </div>
                <div class="form-floating m-2">
                    {{ form.review(class="form-control", placeholder="comments", id="floatingTextarea2", style="height:200px;") }}
                    {{ form.review.label }}
                </div>
                <div class="form-group m-2">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
        {% endif %}
      {% endif %}
        {% if restaurant.rest_id > 1 %}
        <a class="btn btn-outline-primary btn-sm" href="{{ url_for('eating_place', rest_id=restaurant.rest_id+1) }}">Previous Restaurant: {{ previous_restaurant.name }}</a>
        {% endif %} 
        {% if restaurant.rest_id < 33 %}
        <a class="btn btn-outline-primary btn-sm" href="{{ url_for('eating_place', rest_id=restaurant.rest_id+1) }}">Next Restaurant: {{ next_restaurant.name }}</a>
        {% endif %}
    </div>
</div>


{% endblock %}