{% extends 'base.html' %}

{% include 'navbar.html' %}

{% block title %}Everybody's Got an Eatin' Place{% endblock %}

{% block content %} 
<div class="container-fluid row">
    <div class="card text-center mb-3 col" style="height: 100%;">
        <img src="{{ restaurant.image_url }}" class="card-img-top" style="height: 25vw;" alt="There ought to be something here...">
        <div class="card-body">
            <h5 class="card-title">{{ restaurant.name }}</h5>
            <p class="card-text" style="font-style: italic;">{{ restaurant.land }}</p>
            <label>
                {{ star_avg(restaurant.rest_id, total_ratings(restaurant.rest_id)) }} {{ generate_stars(star_avg(restaurant.rest_id, total_ratings(restaurant.rest_id))) }} 
                <span style="font-style:italic; font-size: smaller;">({{ total_ratings(restaurant.rest_id) }} reviews)</span>
            </label>
            <p class="card-text"><small class="text-muted">{{ restaurant.expense }}</small></p>
            <p class="card-text">{{ restaurant.description }}</p>
            <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseReviews" aria-expanded="false" aria-controls="collapseReviews">
                See Reviews <i class="fa-solid fa-arrow-right"></i>
            </button>
            {% if current_user.is_authenticated %}
            {% if rated %}
            <div>
                <h5>You have already reviewed this place, thanks!</h5>
                <a class="btn btn-primary btn-sm" href="{{ url_for('my_contributions') }}">See your reviews</a>
                <a class="btn btn-primary btn-sm" href="{{ url_for('restaurants') }}">Rate more restaurants</a><br>
            </div>
            {% else %}
            <div class="container justify-content-md-center" style="padding-top: 5%;">
                <form class="" method="post" action="{{ url_for('eating_place', rest_id=restaurant.rest_id) }}">
                    <h2 class="heading">Leave a Review</h2>
                        {{ form.csrf_token }}
                    <div class="form-group m-2">
                        {{ form.star_rating.label }}
                        {{ form.star_rating(class="form-select") }}
                    </div>
                    <div class="form-floating m-2">
                        {{ form.review(class="form-control", placeholder="comments", id="floatingTextarea2", style="height:200px;") }}
                        {{ form.review.label }}
                    </div>
                    <div class="form-group m-2">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
            {% endif %}
            {% endif %}
            <div class="pt-2">
            {% if restaurant.rest_id > 1 %}
                <a class="btn btn-outline-primary btn-sm" href="{{ url_for('eating_place', rest_id=restaurant.rest_id-1) }}">Previous Restaurant:<br>{{ get_restaurant(restaurant.rest_id-1).name }}</a>
            {% elif restaurant.rest_id == 1 %}
                <a class="btn btn-outline-primary btn-sm" href="{{ url_for('eating_place', rest_id=rest_len) }}">Previous Restaurant:<br>{{ get_restaurant(rest_len).name }}</a>

            {% endif %} 
            {% if restaurant.rest_id < rest_len %}
                <a class="btn btn-outline-primary btn-sm" href="{{ url_for('eating_place', rest_id=restaurant.rest_id+1) }}">Next Restaurant:<br>{{ get_restaurant(restaurant.rest_id+1).name }}</a>
            </div> 
            {% elif restaurant.rest_id == rest_len %}
                <a class="btn btn-outline-primary btn-sm" href="{{ url_for('eating_place', rest_id=1) }}">Next Restaurant:<br>{{ get_restaurant(1).name }}</a>
        </div> 

            {% endif %}
    </div>
</div>
    <div class="collapse col" id="collapseReviews">
        <div class="card card-body">
            <h2 style="font-family:Noto; font-style:italic;">Reviews</h2>
            {% for each in restaurant_reviews(restaurant.rest_id) %}
            <ul>
                <h6>{{ get_user(each.user_id).username }} wrote:</h6>
                <li>{{ each.review }}</li>
            </ul>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}

