

<footer class="navbar navbar-expand-lg justify-content-around text-white mt-5" style="background-color: #3081C3;">
    <div class="container-fluid justify-content-space-between">
        
        <a class="navbar-brand ms-2" style="font-family:Noto; font-style:italic;" href="#">
            <img src="{{ url_for('static', filename='images/rorster.ico') }}" style="max-height: 80px;" class="d-inline-block align-text-bottom">RJF
        </a>
        <div class="navbar-item">
            © 2022 Copyright: Rory Industries
        </div>
        <a class="link-light me-3" href="#"><i class="fa-solid fa-magnifying-glass-arrow-right"></i>Sean's Portfolio!</a>
    </div>
    
</footer>
