
<footer class="page-footer text-white">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-around">
        <a class="navbar-brand" style="font-family:Noto; font-style:italic;" href="#">
            <img src="{{ url_for('static', filename='images/rorster.ico') }}" style="max-height: 80px;" class="d-inline-block align-text-bottom">RJF
        </a>
        <div class="navbar-item">
            © 2022 Copyright: Rory Industries
        </div>
        <a class="link-light" href="#"><i class="fa-solid fa-magnifying-glass-arrow-right"></i>Sean's Portfolio!</a>

    </nav>
</footer>
