{% extends 'base.html' %}

{% include 'navbar.html' %}

{% block title %}A Drinking Fountain{% endblock %}

{% block content %} 

<div class="container justify-content-md-center" style="padding-top: 5%;">
    <form class="" method="post" action="{{ url_for('fountain_place', fountain_id=fountain.id) }}">
        Fountain {{ fountain.name }}
        <h2 class="heading">Leave a Review</h2>
            {{ form.csrf_token }}
        <div class="form-group m-2">
            {{ form.star_rating.label }}
            {{ form.star_rating(class="form-select") }}
        </div>
        <div class="form-floating m-2">
            {{ form.review(class="form-control", placeholder="comments", id="floatingTextarea2", style="height:200px;") }}
            {{ form.review.label }}
        </div>
        <div class="form-group m-2">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>

{% endblock %}