
{% extends 'base.html' %}

{% block title %}Herro{% endblock %}

<body>
    {% include 'navbar.html' %}
    {% block content %}
    
    <div class="container map-container">
        <div class="iframe-container">
            <iframe class="map" src="{{ url_for('map') }}" width="700" height="700" style="border: 2px solid black;"></iframe>
        </div>
        <div class="">
            <div class="card text-center mb-3">
                <img src="#" class="card-img-top" alt="There ought to be something here...">
                <div class="card-body">
                  <h5 class="card-title">asdfasdf</h5>
                  <p class="card-text">asdfasdf</p>
                  <p class="card-text"><small class="text-muted">adsfadsf</small></p>
                </div>
            </div>
            <div class="card text-center mb-3">
                <img src="#" class="card-img-top" alt="There ought to be something here...">
                <div class="card-body">
                  <h5 class="card-title">asdfasdf</h5>
                  <p class="card-text">asdfasdf</p>
                  <p class="card-text"><small class="text-muted">adsfadsf</small></p>
                </div>
            </div>
            <div class="card text-center mb-3">
                <img src="#" class="card-img-top" alt="There ought to be something here...">
                <div class="card-body">
                  <h5 class="card-title">asdfasdf</h5>
                  <p class="card-text">asdfasdf</p>
                  <p class="card-text"><small class="text-muted">adsfadsf</small></p>
                </div>
            </div>
            
        </div>
    </div>
    {% endblock %}

</body>
