{% extends 'base.html' %}

{% block title %}My Contributions{% endblock %}

<body>
    {% include 'navbar.html' %}
    {% block content %}

    <div class="d-flex row">
        <div style="margin: 2% 0; text-align: center;">
            <h2>Greetings, {{ (current_user.username).title() }}!</h2>
            <h5>Thanks for your contributions so far! You can edit any of your reviews below.</h5>
        </div>

        <div class="container justify-content-md-center m-4">
            {% for review in reviews %}

            <p>{{ review.star_rating }}</p>

            {% endfor %}
        </div>


    {% endblock %}