
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="font-family: Noto, sans-serif;">
    <div class="container-fluid justify-content-space-between">
        <div class="col col-lg">
            <a class="navbar-brand" style="font-family: Mouse Memoirs; font-size: 40pt;" href="{{ url_for('home') }}">Eating Disneyland</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('restaurants') }}">Eating Places</a>
          </li>
          {% if current_user.is_authenticated %} 
            {% if current_user.username == 'TinyTim' %} 
                <li class="nav-item">
                <a class="nav-link" href="{{ url_for('add_restaurant') }}">Add Restaurant</a>
                </li>
            {% endif %}
            <li class="navbar-text" style="font-style: italic;">Logged in as:
                <!-- <a class="nav-link-disabled" style="color: beige;">{{ current_user.username }}</a> -->
            </li>
            <li class="nav-item-dropdown dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ current_user.username }}
                    <img src="{{ url_for('static', filename='/images/D.png') }}" alt="" width="24" height="18" class="d-inline-block align-text-top">
                  </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{{ url_for('profile') }}">Update Profile</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('profile') }}">My Contributions</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
              </ul>
            </li>
            {% else %} 
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
            {% endif %} 
        </ul>
      </div>
    </div>
  </nav>
  <div class="box">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    </div>

