{% extends 'base.html' %}

{% include 'navbar.html' %}

{% block title %}Everywhere to Eat{% endblock %}

{% block content %} 

<!-- <div class="container row"> -->
  {% for each in restaurants %} 
<!-- <div class="containter col" style="width:50rem;"> -->

<div class="card">

    <div class="front container row" style="background-image: url('{{ each.image_url }}');">
        <div class="">
          <p class="large">{{ each.name }}</p>
        </div>
      </div>

      <div class="back">
        <div>
          <div style="font-weight: bold; font-family: Noto, sans-serif; font-size:1.5rem;"><u>{{ each.name }}</u> <br><span class="release_date" style="font-size:large;">{{ each.land }}</span></div>
          <label>{{ each.expense }}</label>
          
          <div class="rating">
            <a class="link-warning text-decoration-none" href="{{ url_for('eating_place', rest_id=each.rest_id) }}" style="text-shadow: #332701 1px 1px 5px;">
              {{ star_avg(each.rest_id, total_ratings(each.rest_id)) }}{{ generate_stars(star_avg(each.rest_id, total_ratings(each.rest_id))) }}  
              <span style="font-style:italic; font-size: smaller;">({{ total_ratings(each.rest_id) }} reviews)</span>
            </a>
          </div>
          <p style="font-size:smaller;">
            {% if each.full_service %}
            Full-Service<br>
            {% endif %}
            {% if each.breakfast %}
            Breakfast<br>
            {% endif %}
            {% if each.american %}
            American<br>
            {% endif %}
            {% if each.southern %}
            Southern<br>
            {% endif %}
            {% if each.mexican %}
            Mexican<br>
            {% endif %}
            {% if each.italian %}
            Italian<br>
            {% endif %}
            {% if each.dessert %}
            Dessert<br>
            {% endif %}
            {% if each.snacks %}
            Snacks<br>
            {% endif %}
            {% if each.coffee %}
            Coffee<br>
            {% endif %}
            {% if each.beverage_only %}
            Beverages Only<br>
            {% endif %}
          </p>
          <p class="review">"{{ each.description }}"</p>
          

          <a href="{{ url_for('eating_place', rest_id=each.rest_id) }}" class="btn btn-primary shadow">See Details</a>
          {% if current_user.is_authenticated %}
          {% if current_user.username == "TinyTim" %}
          <a href="#" class="button delete-button">Delete</a>
          {% endif %}
          {% endif %}
      </div>
    </div>
</div>

<!-- </div> -->
{% endfor %}
<!-- </div> -->
{% endblock %}