{% extends 'base.html' %} {% include 'navbar.html' %} {% block title %}Add
Restaurant{% endblock %} {% block content %}

<div class="container justify-content-md-center">
  <form class="row" method="post" action="{{ url_for('restaurants_bp.add_restaurant') }}">
    <div class="col">
      <h2 class="heading">Add a Restaurant</h2>
      {{ form.csrf_token }}
      <div class="form-group col-4">{{ form.name.label }} {{ form.name }}</div>
      <div class="form-group col-4">
        {{ form.image_url.label }} {{ form.image_url }}
      </div>
      <div class="form-group col-4">{{ form.land.label }} {{ form.land }}</div>
      <div class="form-group col-4">
        {{ form.expense.label }} {{ form.expense }}
      </div>
      <div class="form-group col-4">
        {{ form.description.label }} {{ form.description }}
      </div>
      <div class="form-group col-4">
        {{ form.x_coord.label }} {{ form.x_coord }}
      </div>
      <div class="form-group col-4">
        {{ form.y_coord.label }} {{ form.y_coord }}
      </div>
    </div>
    <div class="col pt-5">
      <div class="form-group col-4">
        {{ form.full_service.label }} {{ form.full_service }}
      </div>
      <div class="form-group col-4">
        {{ form.cuisines.label }} {{ form.cuisines }}
      </div>
      <div class="form-group col">
        {{ form.submit(class="btn btn-primary") }}
      </div>
    </div>
  </form>
</div>

{% endblock %}
