{% extends 'base.html' %}

{% include 'navbar.html' %}

{% block title %}Log on in!{% endblock %}

{% block content %} 

<div class="container justify-content-md-center" style="padding-top: 5%; height:73%;">
    <form class="" method="post" action="{{ url_for('auth_bp.login') }}">
        <h2 class="heading">Login</h2>
            {{ form.csrf_token }}
        <div class="form-group m-2 col-4">
            {{ form.username.label }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="form-group m-2 col-4">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="form-group m-2 col">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
    <div class="ms-3">
        <p style="padding-top:3%">Need to Register an account first?</p>
        <a class="btn btn-outline-primary btn-sm" href="{{ url_for('auth_bp.register') }}" role="button">Register</a>
    </div>
</div>

{% endblock %}